.profile {
  background: linear-gradient(
    7deg,
    rgba(255, 1, 25, 0.47524947478991597) 33%,
    rgba(1, 55, 255, 0.4584427521008403) 49%,
    rgba(111, 255, 1, 0.5872942927170868) 60%,
    rgba(255, 0, 2, 0.41082370448179273) 100%
  );
  width: 300px;
  padding: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  margin: 0 auto;
}

.avatar {
  display: block;
  width: 200px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 20px;
  margin: 0 auto;
}

.name {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.tag {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.9;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.location {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.9;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.stats {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: #fff;
}

.label {
  font-weight: 700;
  display: block;
  width: 100%;
}

.quantity {
  display: block;
}
