.flabel {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
}

.finput {
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid red;
  outline-color: #d4f903;
  margin-top: 20px;
  margin: 0 auto;
  width: 350px;
}
