.nav {
  display: flex;

  align-items: center;

  justify-content: space-evenly;
}

.navLink {
  font-size: 30px;
  border: none;
  border-radius: 12px;
  padding: 10px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
  text-decoration: none;
  height: auto;
  width: auto;
  border: 5px double transparent;
  border-radius: 0px 40px 0px 40px;
}

.navLink:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  text-align: center;
  border: 5px double #49ff18;
  border-radius: 0px 40px 0px 40px;
}
