.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 30px;
  margin-bottom: 30px;
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.inputFirst {
  width: 350px;
  margin-left: 52px;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 12px;
  border: 1px solid red;
  outline-color: #99ff00;
}
.inputSecond {
  width: 350px;
  margin-left: 25px;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 12px;
  border: 1px solid red;
  outline-color: #99ff00;
}

.btnCont {
  width: 90px;
  height: 30px;
  margin: 0 auto;
  border: 1px solid yellow;
  border-radius: 10px;
  background-color: aqua;
}
.btnCont:hover,
.btnCont:focus {
  background-color: #99ff00;
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16); */
  box-shadow: inset 0px 0px 15px 6px #f80015, 0px 0px 16px 7px #ff00ccc6,
    0px 0px 5px 5px #2400f3;
}
