.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  background: linear-gradient(
    13deg,
    rgba(255, 248, 1, 0.6853335084033614) 0%,
    rgba(92, 2, 255, 0.7161458333333333) 52%,
    rgba(0, 212, 255, 0.6097032563025211) 100%
  );
  padding: 20px;
  border-radius: 0px 30px 0px 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container h1 {
  margin: 0;
  font-size: 80px;
  margin-bottom: 15px;
  text-align: center;

  text-shadow: 0 0 5px #fff, 0 0 10px rgb(248, 1, 1), 0 0 15px #fff,
    0 0 20px #e1ff00, 0 0 30px #fb00da, 0 0 40px #fc00ef, 0 0 55px #fe00f5,
    0 0 75px #eaff00;
  color: #ffffff;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-delay: -1.5s;
}

@keyframes example {
  from {
    top: 500px;
  }
  to {
    top: 0;
  }
}

.container h2 {
  margin: 0;
  font-size: 40px;
  margin-bottom: 15px;
  text-align: center;

  text-shadow: 0 0 5px #fff, 0 0 10px rgb(248, 1, 1), 0 0 15px #fff,
    0 0 20px #e1ff00, 0 0 30px #fb00da, 0 0 40px #fc00ef, 0 0 55px #fe00f5,
    0 0 75px #eaff00;
  color: #ffffff;
}
