.statistics {
  background: radial-gradient(
    circle,
    rgba(255, 1, 25, 0.47524947478991597) 33%,
    rgba(1, 55, 255, 0.4584427521008403) 49%,
    rgba(111, 255, 1, 0.5872942927170868) 60%,
    rgba(255, 0, 2, 0.41082370448179273) 100%
  );
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  width: 400px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.statlist {
  list-style: none;
  display: flex;
  padding-left: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 10px;
  background-color: #fff;
}

.statlist li {
  margin: 0 auto;
}

.label {
  display: flex;
  justify-content: center;
}

.percentage {
  display: flex;
  justify-content: center;
}
