.container {
  width: 400px;
  background: linear-gradient(
    231deg,
    rgba(255, 248, 1, 0.6853335084033614) 0%,
    rgba(45, 0, 126, 0.7161458333333333) 35%,
    rgba(0, 212, 255, 0.6097032563025211) 100%
  );
  padding: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.transactionHistory {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

thead {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgba(255, 242, 0, 0.488);
}
